-#<p>Name: </br><%= f.text_field :name %></p>
-#<p>Price: </br><%= f.text_field :price %></p>
-#<p>Description: </br><%= f.text_field :description %></p>
-#<p>Weight: </br><%= f.text_field :weight  %></p>
-#<!--<p>Picture: <br/><%#= f.file_field :image %></p>-->

%div
  = f.input :price
  = f.input :name
  = f.input :description
  = f.input :weight
  <!--= f.input :image-->

= hidden_field_tag :admin, params[:admin]