<h1>Items</h1>

<% if @items.empty? %>
  <b>No items in store</b>
<% else %>
<table class="items">
  <tr>
    <th>item ID</th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>

  <% @items.each do |i| %>

    <!--<p><%#= link_to i.name, item_path(i) %></p>-->
    <tr data-item_id="<%= i.id %>">
      <td><%= i.id %></td>
      <td>
        <%#= image_tag i.image.file, width: '50px', height: '50px' if i.image %>
        <%= link_to i.name, item_path(i) %>
      </td>
      <td><%= i.price %></td>
<!--      <td><%#= link_to "Remove", item_path(i), method: :delete, data: { confirm: "Are you sure?" } %></td>-->
      <td><span class="deleteAction">Remove</span></td>
      <td>Rate: <%= i.votes_count %>, <%= link_to "+", upvote_item_path(i) %></td>
    </tr>

  <% end %>

</table>
<% end %>

<br>
<%= render partial: "shared/email" %>
